<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<table>
    <tr>
        <td style= "width:30%;">
            <p>
                ID: <%= user.id %><br/>
                Username: <%= user.name %><br/>
            </p>
        <td>
</table>
</body>
</html>
